body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-container {
    max-width: 800px; /* 최대 너비 설정 */
    width: 100%; /* 너비를 100%로 설정하여 부모 요소의 너비에 맞춤 */
    margin: auto; /* 중앙 정렬 */
    min-height: 200px; /* 텍스트 에디터의 최소 높이 설정 */
}

.ck-editor__editable{
    min-height: 200px; /* 텍스트 에디터의 최소 높이 설정 */
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

#editor-container {
    height: 400px; /* 에디터의 높이 설정 */
    min-height: 400px; /* 에디터의 최소 높이 설정 */
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.post-form {
    display: flex;
    flex-direction: column;
}